<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <title>Cheenu's Memorial</title>
</head>
<body >
    <div id="tagline">
        Cheenu the Photogenic Turtle
        <br>
        (2014 - 2021)
    </div>
    <div id="message">
        Nikita will always remember you. You will stay forever in our memories. Rest in peace.
        
    </div>
    <div id="bg">
        <img src="/assets/background_3.png" alt="">
    </div>

</body>
</html>

